{% extends 'index.html' %}



{% block title %}
    Home
{% endblock title %}



{% block content %}

    <div class="categories-wrapper">
        <div class="categories">
            {% for cat in category %}
            <a href="{% url 'products:product-search' %}?q={{ cat.name }}" class="category">
                <h3 class="category-name">{{ cat.name }}</h3>
                <div class="category-img">
                    <img class="img" src="{{ cat.image.url }}" alt="">
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock content %}