{% extends 'index.html' %}


{% block title %}
    Successful payment
{% endblock title %}


{% block content %}

    <div class="success-payment-wrapper">
        <h2>Payment was successful</h2>
        <h4>Receipt ID: {{ receipt_id }}</h4>
        <p>Customer: {{ customer }}</p>
        {% for order in orders %}
            <p>Name: {{ order.product.name }}</p>
            <p>Quantity: {{ order.quantity }}</p>
            {% if order.product.get_discount_price %}
                <p>Price: P{{ order.product.get_discount_price}}</p>
                <p>Orginal price: P{{ order.product.price }}</p>
            {% else %}
                <p>Price: {{ order.product.price}}</p>
            {% endif %}
            {% for discount in discount_amount %}
                {% if discount.name == order.product.name %}
                    <p>Amount saved: P{{ discount.discount_amount}}</p>
                {% endif %}
            {% endfor %}
            <p>Url: <a href="{{ domain }}{{ order.product.get_absolute_url }}" target="_blank">
                    {{ domain }}{{ order.product.get_absolute_url }}
                </a>
            </p>
            <h4>Total: P{{ order.get_order_total }}</h4>
        {% endfor %}
        <h4>Total amount paid: P{{ total_amount_paid }}</h4>
    </div>

{% endblock content %}