{% extends 'index.html' %}



{% block title %}
    Create
{% endblock title %}

{% block banner %}
{% endblock banner %}

{% block content %}

    <style>
        .product-create-form-wrapper{
            min-height: 100vh;
            padding: 3rem 0;
        }

        .create-form {
            width: 95%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 1.3rem;
            border-radius: 5px;
            display: grid;
            grid-template-columns: repeat(
                auto-fit, 
                minmax(330px, 1fr)
            );
            gap: 1.5rem;
            background: white;
            box-shadow: 0px 0px 20px -1px rgb(219, 219, 219);
        }

        .product-create-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: 1rem;
            border-radius: 5px;
        }
        
        .product-create-input-container > h2 {
            letter-spacing: 0.07rem;
        }

        .image-upload-warning {
            color: rgb(87, 87, 87);
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 0.07rem;
            padding: 0 1rem;
        }

        .product-seller-organization-input,
        .product-brand-input,
        .product-sub-category-input,
        .product-category-input,
        .product-name-input,
        .product-price-input,
        .product-description-input,
        .product-detail-textarea{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .product-image-input {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .product-seller-organization-input > p > input,
        .product-brand-input > p > input,
        .product-sub-category-input > p > select,
        .product-category-input > p > select,
        .product-price-input > p > input,
        .product-name-input > p > input,
        .product-description-input> p > input,
        .product-detail-textarea > p > textarea{
            width: 100%;
            padding: 0.7rem 1rem;
            border-radius: 5px;
            letter-spacing: 0.07rem;
            line-height: 1.5;
            font-size: 1rem;
            border: 1px solid rgb(189, 189, 189);
        }


        .product-sub-category-input > p > select,
        .product-category-input > p > select {
            background: white;
        }

        /* .product-description-input> p > input, */
        .product-detail-textarea > p > textarea {
            height: 200px;
            resize: none;
        }

        .product-available-input {
            display: flex;
            align-items: center;
            gap: 0.2rem
        }

        .product-available-input > input {
            width: 15px;
            aspect-ratio: 1/1;
        }

        .product-seller-organization-input > label,
        .product-brand-input > label,
        .product-category-input > label
        .product-image-input > label,
        .product-price-input > label,
        .product-available-input > label,
        .product-name-input > label,
        .product-description-input > label,
        .product-detail-textarea > label {
           letter-spacing: 0.07rem;
           color: rgb(39, 39, 39);
        }

        .product-seller-organization-input > p > input:focus,
        .product-brand-input > p > input:focus,
        .product-sub-category-input > p > select:focus,
        .product-category-input > p > select:focus,
        .product-price-input > p > input:focus,
        .product-name-input > p > input:focus,
        .product-description-input> p > input:focus,
        .product-detail-textarea > p > textarea:focus {
            outline: 2px solid rgb(123, 0, 255);
            border: none;
        }

        .create-form-btns {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
        }

        .create-form-btns > button {
            padding: 0.8rem 1rem;
            background: orangered;
            color: white;
            text-align: center;
            letter-spacing: 0.07rem;
            font-size: 1rem;
            border-radius: 5px;
            border: none;
        }

        .create-form-btns > a {
            padding: 0.8rem 1rem;
            background: rgb(100, 100, 100);
            color: white;
            text-align: center;
            letter-spacing: 0.07rem;
            font-size: 1rem;
            border-radius: 5px;
        }

    </style>

    <div class="product-create-form-wrapper">
        <form class="create-form" action="{% url 'products:product-create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="product-create-input-container">
                <h2>Add your product</h2>
                <div class="product-category-input">
                    {{ product_form.category.label_tag}}
                    <p>{{ product_form.category }}</p>
                </div>
                <div class="product-sub-category-input">
                    {{ product_form.sub_category.label_tag}}
                    <p id="sub-category">{{ product_form.sub_category }}</p>
                </div>
                <div class="product-name-input">
                    {{ product_form.name.label_tag}}
                    <p>{{ product_form.name }}</p>
                </div>
                <div class="product-brand-input">
                    {{ product_form.brand.label_tag}}
                    <p>{{ product_form.brand }}</p>
                </div>
                <div class="product-seller-organization-input">
                    {{ product_form.seller_organization.label_tag}}
                    <p>{{ product_form.seller_organization }}</p>
                </div>
                <div class="product-image-input">
                    {{ product_form.product_image.label_tag}}
                    <p>{{ product_form.product_image }}</p>
                </div>
                <div class="product-price-input">
                    {{ product_form.price.label_tag}}
                    <p>{{ product_form.price }}</p>
                </div>
                <div class="product-available-input">
                    {{ product_form.available.label_tag}}
                    {{ product_form.available }}
                </div>
            </div>
            <div class="product-create-input-container">
                <div class="product-image-input">
                    {{ image_form.image.label_tag }}
                    <p>{{ image_form.image }}</p>
                    <ul class="image-upload-warning">
                        <li>required.</li>
                        <li>three images are allowed.</li>
                    </ul>
                </div>
                <div class="product-description-input">
                    {{ product_form.description.label_tag}}
                    <p>{{ product_form.description}}</p>
                </div>
                <div class="product-detail-textarea">
                    {{ product_form.detail.label_tag}}
                    <p>{{ product_form.detail}}</p>
                </div>
                <div class="create-form-btns">
                    <button type="submit">Create</button>
                    <a href="{% url 'products:product-list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>

    <script>

        const productSubCategoryInput = document.querySelector('.product-sub-category-input')
        const subCategories = '{{ sub_categories|safe }}'
        const json_obj = JSON.parse(subCategories)
        
        const idCategory = document.querySelector('#id_category')
        const idSubCategory = document.querySelector('#id_sub_category')
        const select = ''

        productSubCategoryInput.style.display = 'none'

        idCategory.addEventListener('click', (e) => {
            const id = e.currentTarget.value
            json_obj.map((obj) => {
                console.log('TARGET:',parseInt(id), 'OBJ ID:',obj.id)
                if(obj.id === parseInt(id)) {
                    productSubCategoryInput.style.display = 'flex'
                    const subCats = obj.sub_categories
                    const data = subCats.map((subCat) => {
                        return(
                            `<option value=${subCat.id}>${subCat.name}</option>`
                        )
                    })

                    data.splice(0, 0, '<option value="" selected="">---------</option>')
                    idSubCategory.innerHTML = data.join(' ')
                }
                else {
                    const new_obj = json_obj.find((obj) => {
                        if(obj.id === parseInt(id)) {
                            return obj
                        }
                    })
                    if(!new_obj) {
                        productSubCategoryInput.style.display = 'none'
                    }
                }
            })
        })
    

    </script>

{% endblock content %}

{% block scrollbar %}
{% endblock scrollbar %}