{% extends 'index.html' %}
{% load static %}


{% block title %}
    {{ query.name }} 
{% endblock title %}



{% block content %}

    <div class="product-detail-container-wrapper">
        <div class="product-detail-container">
            <div class="product-detail-img-container">
                <img src="{{ query.get_product_image_url }}" alt="">
                <div class="product-detail-extra-images">
                    {% for img in images %}
                        <a href="#header" class="product-detail-extra-image">
                            <span class="material-symbols-outlined product-detail-image-close-btn">close</span>
                            <img class="extra-image" src="{{ img.image.url }}" alt="product image">
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="prduct-detail-info-container">
                <div class="product-detail-available-review-favorite">
                    {% if query.available %}
                        <h4 class="product-detail-available">In Stock</h4>
                    {% else %}
                        <h4 class="product-detail-available">Out of Stock</h4>
                    {% endif %}
                    <div class="product-detail-review-icon-container">
                        <span class="material-symbols-outlined product-detail-review-icon">rate_review</span>
                        {% if query.productreview_set.all %}
                            <a href="#reviews" class="product-detail-rating">
                                {{ query.productreview_set.count }} 
                            </a>
                        {% else %}
                            <span class="product-detail-rating">0</span>
                        {% endif %}
                    </div>
                    <div class="product-detail-favorite-icon-container">
                        <span class="product-detail-rating">{{ query.likes }}</span>
                        <span class="material-symbols-outlined product-detail-favorite-icon">favorite</span>
                    </div>
                </div>
                {% if can_review %}
                    <a class="write-review" href="{% url 'products:product-review' query.id %}">Write a review</a>
                {% endif %}
                <div class="product-detail-price-and-name">
                    <h2 class="product-detail-name">{{ query.name }}</h2>
                    {% if query.get_discount_price %}
                        <h3 class="product-detail-price">P{{ query.discount_price_str_format }}</h3>
                        <p class="product-discount-price">P{{ query.price_str_format }} <span>-10%</span></p>
                    {% else %}
                        <h3 class="product-detail-price">P{{ query.price_str_format }}</h3>
                    {% endif %}
                </div>
                <div class="product-description-drop-container">
                    <div class="product-description-drop product-detail-toggle-btn">
                        <h4 class="product-detail-description-header">Description</h4>
                        <span class="material-symbols-outlined product-description-arrow-up">keyboard_arrow_up</span>
                        <span class="material-symbols-outlined product-description-arrow-down">keyboard_arrow_down</span>
                    </div>
                    <p class="product-description">{{ query.description }}</p>
                </div>
                <div class="product-detail-drop-container">
                    <div class="product-detail-drop product-detail-toggle-btn">
                        <h4 class="product-detail-detail-header">Detail</h4>
                        <span class="material-symbols-outlined product-detail-arrow-up">keyboard_arrow_up</span>
                        <span class="material-symbols-outlined product-detail-arrow-down">keyboard_arrow_down</span>
                    </div>
                    <p class="product-detail">{{ query.detail }}</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="product-detail-btns">
                        <a class="add-to-basket" href="{% url 'products:add-to-basket' query.id %}">Add to Basket</a>
                        <a class="back-to-product" href="{% url 'products:product-list' %}">Continue shopping</a>
                    </div>
                {% else %}
                    <div class="product-detail-btns">
                        <a class="add-to-basket" href="{% url 'users:user-login' %}?next=/product/{{query.id}}/detail/">Login to purchase</a>
                        <a class="back-to-product" href="{% url 'products:product-list' %}">Continue shopping</a>
                    </div>
                {% endif %}
            </div>
        </div>
        
        {% if reviews %}
            <div id="reviews" class="product-reviews-wrapper">
                <h2 class="customer-reviews-header">Customer reviews</h2>
                <div class="product-reviews">
                    {% for review in reviews %}
                        <div class="product-review">
                            <h4 class="review-author">User: {{ review.author.username }} </h4>
                            <h4 class="review-rated">Rated: {{ review.rating }}/5</h4>
                            <p>{{ review.created }}</p>
                            
                            {% if not review.content %}
                                <p>content not available</p>
                            {% else %}
                                <p class="review-content">{{ review.content }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}