{% load static %}



<div class="banner-wrapper">
    <div class="banner-img-container">
        <img src="{% static 'images/pc.webp' %}" alt="">
        <div class="banner-img-background-overlay"></div>
    </div>
    <div class="banner-img-container">
        <img src="{% static 'images/gadgets.webp' %}" alt="">
        <div class="banner-img-background-overlay"></div>
    </div>
    <div class="banner-img-container">
        <img src="{% static 'images/laptop.webp' %}" alt="">
        <div class="banner-img-background-overlay"></div>
    </div>
    <div class="translate-btns-container">
        <div class="banner-arrow-left translate-btn">
            <span class="material-symbols-outlined">keyboard_arrow_left</span>
        </div>
        <div class="banner-arrow-right translate-btn">
            <span class="material-symbols-outlined">keyboard_arrow_right</span>
        </div>
    </div>
    <div class="indicator">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>