
<style>

    .footer-wrapper {
        min-height: 30vh;
        background: rgb(23, 3, 48);
    }

    .footer-contents {
        width: 90%;
        margin: 0 auto;
    }

    .footer-contents > * {
        color: white;
    }
    
    .copy-right {
        padding: 1rem;
    }

    .copy-right > p {
        color: white;
        letter-spacing: 0.09rem;
        text-align: center;
    }
</style>


<div class="footer-wrapper">
    <div class="footer-contents">
        <h2>Footer</h2>
    </div>
    <div class="copy-right">
        <p>Copyright 2023 by AiAi Market team. All Rights Reserved.</p>
    </div>
</div>