

<div class="nav-bar-wrapper">
    <a class="brand-name" href="{% url 'products:product-home' %}">
        <h1>AiAi Market</h1>
        <p>THE PLACE TO SHOP</p>
    </a>
    {% with request.resolver_match.url_name as url_name %}
        <nav class="nav-links">
            <a class="nav-link {% if url_name == 'product-list' %}active-nav-link{% endif %}" href="{% url 'products:product-list' %}">Explore</a>
            {% if not request.user.is_authenticated %}
                <a class="nav-link {% if url_name == 'user-login' %}active-nav-link{% endif %}" href="{% url 'users:user-login' %}">Login</a>
                <a class="nav-link {% if url_name == 'user-register' %}active-nav-link{% endif %}" href="{% url 'users:user-register' %}">Register</a>
            {% else %}
                <a class="nav-link {% if url_name == 'product-create' %}active-nav-link{% endif %}" href="{% url 'products:product-create' %}">Create</a>
                <a class="nav-link {% if url_name == 'user-logout' %}active-nav-link{% endif %}" href="{% url 'users:user-logout' %}">Logout</a>
                <!-- <h3 style="color: white; letter-spacing: 0.07rem;">welcome back {{ request.user.username }}!</h3> -->
                <a class="nav-basket {% if url_name == 'product-basket' %}active-nav-link{% endif %}" href="{% url 'products:product-basket' %}">
                    <span class="material-symbols-outlined shopping-cart">shopping_cart</span> 
                    <span class="num-of-items">{{ num_of_product }}</span>
                </a>
            {% endif %}
            <a href="{% url 'sellers:sellers-seller' %}" class="nav-link">Sell on market</a>
        </nav>
    {% endwith %}
    <form class="search-form" action="{% url 'products:product-search' %}" method="GET">
        <input class="search-input" type="text", name='q' required placeholder="Search">
        <button class="submit-input" type="submit">
            <span class="material-symbols-outlined">search</span>
        </button>
    </form>
</div>


<div class="mobile-nav-bar-wrapper">
    <a class="mobile-brand-name" href="{% url 'products:product-home' %}">
        <h1>AiAi Market</h1>
        <p>THE PLACE TO SHOP</p>
    </a>

    <div class="mobile-toggle-nav-btn">
        <span class="material-symbols-outlined mobile-menu-btn">menu</span>
    </div>
    {% with request.resolver_match.url_name as url_name %}
        <nav class="mobile-nav-links">
            <span class="material-symbols-outlined mobile-nav-close-btn">close</span>
            <a class="mobile-nav mobile-nav-link {% if url_name == 'product-list' %}mobile-active-nav-link{% endif %}" href="{% url 'products:product-list' %}">Explore</a>
            {% if not request.user.is_authenticated %}
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-login' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-login' %}">Login</a>
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-register' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-register' %}">Register</a>
            {% else %}
                <a class="mobile-nav mobile-nav-link {% if url_name == 'product-create' %}mobile-active-nav-link{% endif %}" href="{% url 'products:product-create' %}">Create</a>
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-logout' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-logout' %}">Logout</a>
            {% endif %}
            <a href="{% url 'sellers:sellers-seller' %}" class="mobile-nav mobile-nav-link">Sell on market</a>
            <!-- <form class="mobile-search-form" action="{% url 'products:product-search' %}" method="GET">
                <input class="mobile-search-input" type="text", name='q' required placeholder="Search">
                <button class="mobile-submit-btn" type="submit">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </form> -->
        </nav>
    {% endwith %}
    <div class="mobile-nav-background-layout"></div>
</div>

<script>
    const searchInput = document.querySelector('.search-input')
    const submitInput = document.querySelector('.submit-input')
    const searchForm = document.querySelector('.search-form')

    searchInput.addEventListener('click', (e) => {
        searchForm.style.outline = '2px solid rgb(143, 38, 255)'
    })

    window.addEventListener('click', (e) => {
        if(e.target != searchInput) {
            searchForm.style.outline = 'none'
        }
    })
</script>