{% extends 'index.html' %}




{% block title %}
    Register
{% endblock title%}


{% comment %}
{% block banner %}
{% endblock banner %}
{% endcomment %}

{% block content %}

    <style>
        .user-registered-and-authenticated {
            min-height: 100vh;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .user-registered-and-authenticated-error {
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1.3rem;
            border-radius: 5px;
            background: white;
            box-shadow: 0px 0px 20px -1px rgb(206, 206, 206);
        }

        .user-registered-and-authenticated-error > h3 {
            letter-spacing: 0.07rem;
        }

        .user-registered-and-authenticated-error > h4{
            letter-spacing: 0.07rem;
            color: rgb(66, 66, 66);
        }

        .user-registered-and-authenticated-error > h4 > a{
            letter-spacing: 0.07rem;
            color: rgb(255, 0, 0);
            text-decoration: underline;
        }

        .user-register-form-wrapper {
            min-height: 100vh;
            padding: 3rem 0;
        }

        .register-form {
            width: 95%;
            max-width: 500px;
            margin: 0 auto;
            padding: 1.3rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            background: white;
            box-shadow: 0px 0px 20px -1px rgb(216, 216, 216);
        }

        .register-form > h2 {
            letter-spacing: 0.05rem;
        }

        .register-form > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .register-form > div > input {
            padding: 0.7rem 1rem;
            border-radius: 5px;
            letter-spacing: 0.07rem;
            color: rgb(48, 48, 48);
            font-size: 1rem;
            border: 1px solid rgb(202, 202, 202);
        }

        .register-form > div > input:focus {
            outline: 2px solid rgb(123, 0, 255);
            border: none;
        }

        .register-form > div > label {
            letter-spacing: 0.05rem;
            color: rgb(10, 10, 10);
            font-weight: 500;
        }

        .register-form > div > p {
            font-size: 0.95rem;
            letter-spacing: 0.07rem;
            color: rgb(54, 54, 54);
        }

        .register-form > div > ul {
           margin-left: 1rem;
           color: rgb(54, 54, 54);
           font-size: 0.95rem;
           letter-spacing: 0.05rem;
        }

        .register-form > div > .errorlist {
           margin-left: 1rem;
           color: rgb(255, 51, 0);
           font-size: 0.95rem;
           letter-spacing: 0.05rem;
        }

        .register-form > button {
            padding: 0.8rem 1rem;
            text-align: center;
            letter-spacing: 0.07rem;
            background: orangered;
            color: white;
            border-radius: 5px;
            border: none;
            font-size: 1rem;
        }

        .already-registered {
            letter-spacing: 0.07rem;
            color: rgb(41, 41, 41)
        }

        .already-registered > a {
            letter-spacing: 0.07rem;
            color: rgb(130, 12, 255);
            text-decoration: underline;
            font-weight: 500;
        }

    </style>

    {% if request.user.is_authenticated %}
        <div class="user-registered-and-authenticated">
            <div class="user-registered-and-authenticated-error">
                <h3>You are already logged in  and registered!</h3>
                <h4>Do you want to logout? <a href="{% url 'users:user-logout' %}">Logout</a></h3>
                <h4><a href="{% url 'products:product-list' %}">continue shopping</a></h3>
            </div>
        </div>
    {% else %}
        <div class="user-register-form-wrapper">
            <form action="" method="POST" class="register-form">
                <h2>Please Register</h2>
                {% csrf_token %}
                <div>
                    <p class="errorlist">{{ form.username.errors }}</p>
                    {{ form.username.label_tag}}
                    {{ form.username}}
                    <p>{{ form.username.help_text}}</p>
                </div>
                <div>{{ email_form }}</div>
                <div class="password1-container">
                    {{ form.password1.label_tag}}
                    {{ form.password1}}
                    {{ form.password1.help_text}}
                    {{ form.password2.errors}}
                </div>
            
                <div>
                    {{ form.password2.label_tag}}
                    {{ form.password2}}
                    <p>{{ form.password2.help_text}}</p>
                </div>
                <button type="submit">Register</button>
                <p class="already-registered">Already registered? <a href="{% url 'users:user-login' %}">Login</a></p>
            </form>
        </div>
    {% endif %}
    
{% endblock content %}
