{% extends 'index.html' %}




{% block title %}
    Login
{% endblock title%}

{% comment %}
{% block banner %}
{% endblock banner %}
{% endcomment %}

{% block content %}

    <style>
        .user-login-error-wrapper {
            min-height: 100vh;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .user-login-error {
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1.3rem;
            border-radius: 10px;
            background: white;
            box-shadow: 0px 0px 20px -1px rgb(209, 209, 209);
        }

        .user-login-error > h3 {
            letter-spacing: 0.07rem;
        }

        .user-login-error > h4 {
            letter-spacing: 0.07rem;
            color: rgb(66, 66, 66);
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .user-login-error > h4 > a{
            letter-spacing: 0.07rem;
            color: rgb(255, 0, 0);
            text-decoration: underline;
        }

        .user-login-form-wrapper {
            min-height: 100vh;
            padding: 5rem 0;
        }

        .login-form {
            width: 95%;
            max-width: 500px;
            margin: 0 auto;
            padding: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0px 0px 20px -1px rgb(209, 209, 209);
        }

        .login-form > h2 {
            letter-spacing: 0.05rem;
        }

        .login-form > label {
            letter-spacing: 0.05rem;
            font-weight: 500;
        }

        .login-form > input {
            letter-spacing: 0.07rem;
            font-size: 1rem;
            padding: 0.7rem 1rem;
            border-radius: 5px;
            border: 1px solid rgb(202, 202, 202);
        }

        .login-form > button {
            letter-spacing: 0.07rem;
            font-size: 1rem;
            padding: 0.8rem 1rem;
            border-radius: 5px;
            border: none;
            color: white;
            background: rgb(255, 69, 0);
            margin-top: 0.3rem;
        }

        .login-form > input:focus {
            outline: 2px solid rgb(123, 0, 255);
            border: none;
        }


        .login-form > p {
            letter-spacing: 0.07rem;
            color: rgb(43, 43, 43)
        }

        .login-form > p > a{
            letter-spacing: 0.07rem;
            color: rgb(130, 12, 255);
            text-decoration: underline;
            font-weight: 500;
        }

    </style>

    {% if request.user.is_authenticated %}
        <div class="user-login-error-wrapper">
            <div class="user-login-error">
                <h3>You are logged in already!</h3>
                <h4>Did want to logout?<a href="{% url 'users:user-logout' %}">Logout</a></h4>
            </div>
        </div>
        {% else %}
        <div class="user-login-form-wrapper">
            <form action="" method="POST" class="login-form">
                <h2>Please Login</h2>
                {% csrf_token %}
                {{ form }}
                <button type="submit">Login</button>
                <p>Not yet registered? <a href="{% url 'users:user-register' %}">Register</a></p>
            </form>
        </div>
    {% endif %}
{% endblock content %}
